body {
  overflow-y: visible;
  background-image: url("./images/Editprofile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

#content {
  width: 100vw;
  height: 100vh;
}

#profileBg {
  position: absolute;
  background-color: aliceblue;
  width: 60vw;
  height: 90vh;
  opacity: 80%;
  left: 20vw;
  top: 20vh;
  border-radius: 10px;
}

#profile {
  position: absolute;
  width: 60vw;
  height: 60vh;
  opacity: 100%;
  border-radius: 10px;
  font-size: 2vmin;
  left: 20vw;
  top: 20vh;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

input {
  border-radius: 5px;
}