body {
  background-image: url("./images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

.content {
  width: 100vw;
  height: 100vh;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.chatBg {
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: aliceblue;
  opacity: 80%;
  border-radius: 5px;
  left: 10vw;
  top: 10vh;
}

.new_group_input {
  border-radius: 5px;
}

#chat {
  position: absolute;
  width: 80vw;
  height: 80vh;
  border-radius: 5px;
  left: 10vw;
  top: 10vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.button {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 20vw;
  height: 5vh;
}

#chatSelectorOuter {
  border-right: 1px solid black;
  overflow-y: auto;
}

#chatTalk {
  overflow-y: auto;
}

#sendMsg {
  float: left;
  position: absolute;
  bottom: 0;
  width: calc(80vw * 0.66);
  height: calc(80vh * 0.05);
}

#msgsWrapper {
  width: calc(80vw * 0.66);
  height: calc(80vh * 0.95);
  position: absolute;
  text-align: left;
  overflow-y: hidden;
  margin-left: 1vw;
  display: block;
}

#msgsBanner {
  position: absolute;
  width: calc(80vw * 0.64 - 1vw);
  height: 11vh;
  border-radius: 5px;
  text-align: center;
}

#topDiv {
  border-radius: 5px;
  border: 1px solid black;
}

#msgs {
  width: calc(80vw * 0.64);
  height: calc(80vh * 0.9);
  position: absolute;
  text-align: left;
  overflow-y: auto;
  margin-left: 1vw;
  display: block;
}

#sendMsg > input {
  width: calc(80vw * 0.66 * 0.7);
  height: 4vh;
  font-size: 2vmax;
}

#sendMsg > button {
  float: right;
  width: calc(80vw * 0.66 * 0.25);
  height: 4vh;
  margin-bottom: 0;
  font-size: 2vh;
  text-align: center;
}

.myMsg {
  margin-left: calc(80vw * 0.66 - 35vw);
  margin-right: 3vw;
  max-width: 30vw;
  min-height: 3vh;
  background-color: rgb(204, 231, 255);
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.name {
  font-weight: bold;
  margin-left: 1vw;
}

.contentMsg {
  margin-left: 1vw;
}

.otherMsg {
  max-width: 30vw;
  min-height: 3vh;
  background-color: rgb(228, 243, 255);
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.otherMsgDark {
  background-color: #343a40;
}

.myMsgDark {
  background-color: #2a2e33;
}

#chatSettings {
  opacity: 100%;
  position: absolute;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
  top: 15vh;
  left: calc(80vw * 0.33 + 80vw * 0.66/8);
  border: 2px solid black;
  overflow-y: auto;
}

#usersInChatDisplay {
  overflow-y: auto;
  min-height: auto;
  max-height: 20vh;
}

#usersInChatDisplay > button {
  width: 30vw;
  margin-bottom: 1vh;
}

.chatBgLight {
  background-color: aliceblue;
}

.chatBgDark {
  background-color: #383d44;
}

.input-field {
  width: 30vw;
}