body {
  background-image: url("./images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

.content {
  width: 100vw;
  height: 100vh;
}

.profileBg {
  position: absolute;
  background-color: aliceblue;
  width: 40vw;
  height: 60vh;
  opacity: 70%;
  margin-left: calc((100vw - 40vw)/2);
  margin-top: calc((100vh - 60vh)/2);
  border-radius: 10px;
}

#profile {
  position: absolute;
  width: 40vw;
  height: 60vh;
  margin-left: calc((100vw - 40vw)/2);
  margin-top: calc((100vh - 60vh)/2);
  border-radius: 10px;
}

.editIcon {
  height: 2vmin;
}

#profile {
  font-size: 3vmin;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}