body {
  background-image: url("./images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

#content {
  width: 100vw;
  height: 100vh;
}

#profile {
  background-color: aliceblue;
  width: 40vmin;
  height: 60vmin;
  opacity: 70%;
  margin-left: calc((100vw - 40vmin)/2);
  margin-top: calc((100vh - 60vmin)/2);
  border-radius: 10px;
}