body {
  background-image: url('./images/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

#content {
  width: 100vw;
  height: 100vh;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.settingsBg {
  position: absolute;
  width: 70vw;
  height: 80vh;
  background-color: aliceblue;
  opacity: 80%;
  border-radius: 5px;
  left: 15vw;
  top: 10vh;
}

.settings {
  position: absolute;
  width: 70vw;
  height: 80vh;
  border-radius: 5px;
  left: 15vw;
  top: 10vh;
  text-align: center;
}

.dark {
  background-color: rgb(43, 43, 43);
}

.darkTxt {
  color: aliceblue;
}

/* The switch - the box around the slider */
.switch {
  margin-top: 1vh;
  position: relative;
  display: inline-block;
  width: 5vh;
  height: 3vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.5vh;
  width: 2.5vh;
  left: 0.25vh;
  bottom: 0.25vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.5vh);
  -ms-transform: translateX(2vh);
  transform: translateX(2vh);
}

/* Rounded sliders */
.slider.round {
  border-radius: 43%;
}

.slider.round:before {
  border-radius: 50%;
}

.title {
  font-size: 3vh;
}

.setting {
  font-size: 2.5vh;
}