body {
  background-image: url("./images/others.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    overflow: hidden;
  overflow-y: auto;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

.content {
  width: 100vw;
  height: 100vh;
}

.profileBg {
  position: absolute;
  border-radius: 5px;
  width: 60vw;
  height: 60vh;
  background-color: aliceblue;
  opacity: 70%;
  left: 20vw;
  top: 20vh;
}

#profile {
  position: absolute;
  width: 60vw;
  height: 60vh;
  opacity: 100%;
  left: 20vw;
  top: 20vh;
}

.text {
  text-align: center;
  font-size: 3vmin;
  margin-bottom: 1vmin;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}