body {
  background-image: url("./images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: auto;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

.content {
  width: 100vw;
  height: 100vh;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.sportpediaBg {
  position: absolute;
  width: 70vw;
  height: 80vh;
  background-color: aliceblue;
  opacity: 80%;
  border-radius: 5px;
  left: 15vw;
  top: 10vh;
}

#sportpedia {
  position: absolute;
  width: 70vw;
  height: 80vh;
  border-radius: 5px;
  left: 15vw;
  top: 10vh;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 3fr;
  overflow-y: auto;
  overflow-x: hidden;
}

.button {
  width: calc(70vw * 0.35);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.rating {
  float: left;
  margin-left: calc((0.6 * 70vw - 10em)/2);
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
