body {
  background-image: url('./images/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#navbar {
  border-radius: 5px;
}

#searchPeople {
  margin-left: 5px;
}

#content {
  width: 100vw;
  height: 100vh;
}

.invis {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#inMatchBg {
  position: absolute;
  width: 70vw;
  height: 60vh;
  background-color: aliceblue;
  opacity: 80%;
  border-radius: 5px;
  left: 15vw;
  top: 20vh;
}

#inMatchContent {
  position: absolute;
  width: 70vw;
  height: 60vh;
  border-radius: 5px;
  left: 15vw;
  top: 20vh;
  text-align: center;
}

#inMatchName {
  font-size: 4vh;
}

#inMatchSport {
  margin-top: 2vh;
  font-size: 3.5vh;
}

#inMatchStatus {
  margin-top: 2vh;
  font-size: 3vh;
}

#leaveMatch {
  margin-top: 1vh;
  border-radius: 5px;
}